body {
    background: radial-gradient(80% 40%, #154734, black);
    text-align: center;
}

.header {
    background-color: #A6192E;
    color: white;
}

.info {
    background-color: #DDCBA4;
    color: #A6192E;
}

h3 {
    background-color: #A6192E;
    color: #DDCBA4;
}

.container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .car {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #A6192E;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #DDCBA4;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
